APP_NAME="Khairul Fresh Food POS"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Kuala_Lumpur
APP_URL=http://localhost:3000

FIREBASE_PROJECT_ID=my-vpn-503902
FIREBASE_API_KEY=AIzaSyCoABBylspOz4TjnFW800LWvTWoVDa_Q38
FIREBASE_DATABASE_ID=ai-studio-khairulfreshposs-3e797666-7671-4cf3-a6d8-c9729922e0cc
FIREBASE_STORAGE_BUCKET=my-vpn-503902.firebasestorage.app

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
FONNTE_TOKEN=YOUR_FONNTE_DEVICE_TOKEN
